*{
    background-color: rgb(185, 185, 185);
    margin: 0;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3vh;
    font-size: 50px;
}

nav{ 
    font-family: Georgia, serif;
    display: inline-block;
    background-position-x: 18vh;
    position:absolute;
    top: 6rem;
    left: 55%;

}

nav a{
    font-size: 20px;
    display:inline;
    color: white;
    background-color: blue;
    font-weight: bold;
    padding: 1vh;
    text-decoration: none;
    margin: 10px;
    box-shadow: 3px 4px black;
}

header{
    width: 100%;
    height: 60vh;
    padding: 0;
}

header img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.titulo2{
    display: block;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 2vh;
}

.logo{
    width: 35vh;
}

main section{
    padding: 15px;
    display: inline-block;
    width: 100%;
}

.texto{
    display:block;
    width: 50%;
    padding: 10px;
    font-size: 20px;

}
.contenedor{
    display: inline-block;
    width: 70%;
    position: absolute;

}
p{
    display: block;
    width: 80vh;
}

h4{
    font-size: 20px;
    padding: 5px;
}

a[href="#"]{
    background-color: green;
}

a:hover{
    background-color:green;
    color: white;
}

.tabla{
    padding: 5vw;
    margin: 10px;

}

th{
    padding: 20px;
    width: 25vw;
}

thead{
    font-size: 22px;
}

table{
    text-align: left ;
}

.alineacion{
    text-align: right;
}

.pie{
    font-size: 20px;
    padding: 5px;
    margin: 30px;
}

footer{
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background-color: rgb(48, 119, 119);
}


.parrafo_1{
    width: 100%;
    height: 50px;
    

}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 119, 119);
}

.rules{
    padding: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.tit{
    padding: 20px;
}

